* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }
  .customNav {
    position: fixed;
    width: 100%;
    height: max-content;
    background-color: antiquewhite !important;
    background-size: cover;
    z-index: 10;
  }
  .navbar-brand img {
    padding-right: 10px;
    width: 110px;
   
  }
  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
    background-color: transparent;
    text-decoration: underline;
    font-size: 20px;
  }
   
  .jumbotron {
    height: calc(80vh - 25px);
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    align-items:center;
    justify-content:center;
  }
 
  .container { 
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
  background-color:antiquewhite;
  width: 400px;
    width: 30%;
    min-width: 500px;
    max-width: 700px;
    text-align: center;
}
.display-4 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}
p {
  font-size: 1rem;
    font-weight: 400;
}
.card {
margin-left: 15px;
}
.card-body {
  text-align: center;}