* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    margin-right: 15px;
  }
  .customNav {
    position: fixed;
    width: 100%;
    height: max-content;
    background-color: antiquewhite !important;
    background-size: cover;
    z-index: 10;
    
    
    
  }
  .navbar-brand img {
    padding-right: 30px;
    width: 110px;
   
  }
  .nav-item {
    padding-right: 50px ;
  }
  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
    background-color: transparent;
    text-decoration: underline;
    font-size: 20px;
   
  }
   
  .jumbotron {
   display:flex;
   flex-direction: column;
   align-items: center;

    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 15px;
  

   
  }
 
  .kutu { 
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:start;
  background-color:antiquewhite;
  width: 400px;
    width: 30%;
    min-width: 500px;
    max-width: 700px;
    text-align: center;
  
}
.display-4 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}
p {
  font-size: 1rem;
    font-weight: 400;
}
.card {
margin-left: 20px;
}
.footer {
  margin: 50px;

}
.aboutme, .skills, .projects {
  margin-left: 15px;
  display:flex;
    flex-direction:column;
    align-items:center;
}
.card-body {
  text-align: center;}

  .sectionHeading, footer {
    margin-left: 15px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
.card-deck {
  margin-left: 15px;
}
a:hover {
  background-color: transparent;
  box-shadow: 10px 5px 5px rgba(184, 85, 85, 0.801);
}
.card-header {
  text-align: center;
}